<app-navbar></app-navbar>
  

<div class="about-us">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2>HAKKIMIZDA</h2>
                    <hr>
                    <p class="lead mt-2 mb-5">Yenilikçi ve Pratik Çözümler</p>
                    <p class="mt-5 mb-5">
                        USCA LEGAL Hukuk ve Danışmanlık, müvekkillerine geniş yelpazede yenilikçi ve pratik çözümler sunmak için Av. Kemal Selim USCA tarafından İstanbul'da kurulmuştur. 
                        Kuruluşundan bu yana, bireysel ve kurumsal müvekkillerine en yüksek standartlarda hukuki destek sağlama misyonuna devam etmektedir.
                        
                    </p>              
                </div>
                <div class="col-md-4 mt-5">
                    <img src="/assets/images/section-2-bg-2.jpg" alt="About Us Image" class="about-us-img">
                </div>
            </div>    
            
            <div class="row">
                <div class="col-md-8">
                    <h2>MİSYONUMUZ</h2>
                    <hr>
                    <p class="lead mt-2 mb-5">USCA Legal Avukatlık olarak, </p>
                    <p class="mt-5 mb-5">
                        hukuki süreçlerin çok uzun sürdüğü günümüzde gayemiz, müvekkillerimizin sorunlarına hızlı ve pratik çözümler üretmek ve sonuç odaklı yaklaşımlar sergilemektir. 
Her hukuki mesele, müvekkillerimizin menfaatleri doğrultusunda titizlikle ele alınır ve stratejik bir yaklaşımla sonuçlandırılır

                    </p>              
                </div>
                <div class="col-md-4 mt-5">
                    <img src="/assets/images/about-us.jpg" alt="about-us" class="about-us-img">
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-8">
                    <h2>VİZYONUMUZ</h2>
                    <hr>
                    <p class="lead mt-2 mb-5">Hukuki süreçlerde yenilikçi ve pratik çözümler geliştirerek, hukukun her alanında güvenilir bir danışmanlık merkezi olmayı hedefliyoruz.</p>
                    <p class="mt-5 mb-5">
                         
                        USCA LEGAL olarak, hukuki problemlere etkili ve uzun vadeli çözümler ile müvekkillerimize değer katıyor, kendi değerimizi yaşatıyoruz.
                        
                    </p>              
                </div>
                <div class="col-md-4 mt-5">
                    <img src="/assets/images/about-us-2.jpg" alt="about-us" class="about-us-img">
                </div>
            </div>
             
            <div class="row">
                <div class="col-md-8">
                    <h2>DEĞERLERİMİZ</h2>
                    <hr>
                    <p class="lead mt-2 mb-5">Profesyonellik, Güvenilirlik, Çözüm Odaklılık, İnsan Odaklılık</p>
                    
                    <ul class="mt-5 mb-5">
                        <li> <b>Profesyonellik</b> Tüm hukuki süreçlerimizde profesyonel ve disiplinli bir yaklaşım benimseriz.</li>
                        <li> <b>Güvenilirlik</b> Müvekkillerimize her adımda şeffaf ve güvenilir danışmanlık hizmeti sunarız.</li>
                        <li> <b>Çözüm Odaklılık</b> Hukuki sorunlara pratik ve hızlı çözümler üreterek, çözüm odaklı çalışırız.</li>
                        <li> <b>İnsan Odaklılık</b> Müvekkillerimizin ihtiyaçlarını anlamak ve onlara en iyi hizmeti sunmak birinci önceliğimizdir.</li>
                    </ul>          
                </div>
                <div class="col-md-4 mt-5">
                    <img src="/assets/images/about-us-3.jpg" alt="about-us" class="about-us-img">
                </div>
            </div>



        </div>    
    </div>
    <div class="about-us-bg"></div>
</div>

<app-footer></app-footer>
  
