.services{    
    position: relative;
    min-height: 400px;   
    z-index: 1;
  }
  .services::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/assets/images/section-3-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
  }
  .services .content{
    position: relative;
    z-index: 3;
    padding: 50px 0px;
    font-weight: bold;
  }
  .services .content h1{
    font-family: "EB Garamond", serif;
  }
  .services {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ededed;
}

.services {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ededed;
}
  
.custom-box {
    background: rgba(255, 255, 255, 0.5); /* Şeffaf beyaz arka plan */
    border-radius: 15px; /* Kutuyu yumuşatma */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Hafif gölge efekti */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-box:hover {
    transform: translateY(-5px); /* Hover sırasında hafif yükselme efekti */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.icon-container {
    text-align: center;
    font-size: 40px;
    /* color: #0d6efd;  */
    margin-bottom: 10px;
}

.box-header {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.custom-list {
    list-style: none; /* Liste işaretlerini kaldırma */
    padding: 0;
    margin: 0;
}

.custom-list li {
    margin-bottom: 10px;
}

.custom-list li a {
    text-decoration: none;
    font-size: 16px;
    /* color: #555; */
    transition: color 0.3s ease;
}

.custom-list li a:hover {
    color: #0d6efd; /* Hover sırasında renk değişimi */
}

.text-content {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
    text-align: justify;
    min-height: 100px;
    
}

/* Responsive Tasarım */
@media (max-width: 768px) {
    .custom-box {
        padding: 15px;
    }

    .icon-container {
        font-size: 35px;
    }

    .box-header {
        font-size: 20px;
    }

    .custom-list li a {
        font-size: 14px;
    }

    .text-content {
        font-size: 13px;
    }
}
