<app-navbar></app-navbar>

<div class="services">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>HİZMETLERİMİZ</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="box">
                        <p class="icon-container">
                            <i class="bi bi-people"></i>
                        </p>
                        <h3 class="box-header">AİLE HUKUKU & DANIŞMANLIK</h3>
                        <p class="text-content">Boşanma, velayet ve miras gibi konularda uzman desteği sunuyoruz. Aile ilişkilerinizi gözeterek, çözüme odaklı yaklaşımlarımızla hukuki süreçlerde yanınızdayız.</p>
                        <a routerLink="/hizmetlerimiz/aile-hukuku-1" class="custom-button"> Daha Fazla Oku </a>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6">
                    <div class="box">
                        <p class="icon-container">
                            <i class="bi bi-book"></i>
                        </p>
                        <h3 class="box-header">CEZA DAVALARI</h3>
                        <p class="text-content">Hakkınızda yürütülen ceza davalarında adil bir savunma için buradayız. Deneyimli avukatlarımızla, haklarınızı savunarak adaleti sağlamaya katkıda bulunuyoruz.</p>
                        <a routerLink="/hizmetlerimiz/ceza-davalari-2" class="custom-button"> Daha Fazla Oku </a>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6">
                    <div class="box">
                        <p class="icon-container">
                            <i class="bi bi-briefcase"></i>
                        </p>
                        <h3 class="box-header">İŞ VE ÇALIŞMA HUKUKU</h3>
                        <p class="text-content">İşveren veya çalışan olarak karşılaştığınız tüm hukuki sorunlarda yanınızdayız. İş ilişkilerinin sağlam temellerde devam etmesi ve haklarınızın korunması için rehberlik sağlıyoruz.</p>
                        <a routerLink="/hizmetlerimiz/is-ve-calisma-hukuku-3" class="custom-button"> Daha Fazla Oku </a>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6">
                    <div class="box">
                        <p class="icon-container">
                            <i class="bi bi-house-door"></i>
                        </p>
                        <h3 class="box-header">EMLAK VE GAYRİMENKUL HUKUKU</h3>
                        <p class="text-content">Ev sahipleri ve kiracılar arasındaki anlaşmazlıklar ve sözleşme süreçlerinde size yol gösteriyoruz. Gayrimenkul işlemlerinizin sorunsuz ilerlemesi için hukuki destek sağlıyoruz.</p>
                        <a routerLink="/hizmetlerimiz/emlak-ve-gayrimenkul-hukuku-4" class="custom-button"> Daha Fazla Oku </a>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6">
                    <div class="box">
                        <p class="icon-container">
                            <i class="bi bi-shield-check"></i> 
                        </p>
                        <h3 class="box-header">VERİ GÜVENLİĞİ & KVKK</h3>
                        <p class="text-content">Kişisel verilerinizin korunması ve yasal düzenlemelere uyum sağlanması için uzman ekibimizle yanınızdayız. Veri gizliliğinizi koruma konusunda profesyonel çözümler sunuyoruz.</p>
                        <a routerLink="/hizmetlerimiz/veri-guvenligi-ve-kvkk-5" class="custom-button"> Daha Fazla Oku </a>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6">
                    <div class="box">
                        <p class="icon-container">
                            <i class="bi bi-building"></i>
                        </p>
                        <h3 class="box-header">MİRAS HAKLARI & HUKUKİ SÜREÇLER</h3>
                        <p class="text-content">Mirasın doğru ve adil bir şekilde paylaştırılması konusunda uzman rehberlik sunuyoruz. Miras sürecini yönetiyor ve haklarınızın korunması için hukuki destek sağlıyoruz.</p>
                        <a routerLink="/hizmetlerimiz/miras-haklari-6" class="custom-button"> Daha Fazla Oku </a>
                    </div>
                </div>
                
            </div>
           
        </div>
    </div>
</div>

<app-footer></app-footer>