<header>

    <div class="container-fluid">
  
        <div class="navb-logo">
          <a routerLink="">
            <img src="../assets/images/logo.png" alt="Logo">
          </a>
  
        </div>
  
        <div class="navb-items d-none d-md-flex">
            
            <div class="item">
                <a routerLink="/hakkimizda">HAKKIMIZDA</a>
            </div>
  
            <div class="item">
                <a routerLink="/hizmetlerimiz">HİZMETLERİMİZ</a>
            </div>
  
            <div class="item">
                <a routerLink="/sikca-sorulan-sorular">S.S.S</a>
            </div>
  
            <div class="item-button">
                <a routerLink="/iletisim" type="button">İLETİŞİM</a>
            </div>
        </div>
  
        <!-- Button trigger modal -->
        <div class="mobile-toggler d-lg-none">
            <a data-bs-toggle="modal" data-bs-target="#navbModal">
                <i class="bi bi-list"></i>
            </a>
        </div>
  
        <!-- Modal -->
        <div class="modal fade" id="navbModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
  
                    <div class="modal-header">
                        <img src="../assets/images/logo.png" alt="Logo">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                    </div>
  
                    <div class="modal-body">
  

                        <div class="modal-line">
                            <a routerLink="/hakkimizda">HAKKIMIZDA</a>
                        </div>
  
                        <div class="modal-line">
                            <a routerLink="/hizmetlerimiz">HİZMETLERİMİZ</a>
                        </div>
  
                        <div class="modal-line">
                            <a routerLink="/sikca-sorulan-sorular">S.S.S</a>
                        </div>
  
                        <a routerLink="/iletisim" class="navb-button" type="button">İLETİŞİM</a>
                    </div>
  
                    <div class="mobile-modal-footer">
  
                        <a target="_blank" href="#"><i class="fa-brands fa-instagram"></i></a>
                        <i class="fa-regular fa-envelope"></i>
                        <i class="fa-solid fa-phone"></i>
                    </div>
                </div>
            </div>
        </div>
  
    </div>
  </header>
  