.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;

}

.slider-container  .bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slider-container  img.active {
  opacity: 1;
}

.slider-container  img.hidden {
  opacity: 0;
}

.slider-container  .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  z-index: 1;
}
.slider-container  .content{
  position: relative;
  z-index: 10;
  color: white;
  margin-top: 10vh;
  padding-bottom: 50px;
}

.header{
    text-align: center;
    margin-top: 15vh;
    font-family: "EB Garamond", serif;
    font-size: larger;
    font-weight: bold;
}


  @media(max-width: 767px) {
    .header{        
        margin-top: 0vh;       
    }
    .slider-container  .logo-icon{
        width: 150px;
        
    }
  }

.section{
    padding: 50px 0px;
}
.section-1{
    background-color: #0b0c20;    
}
.section-1 ul{
    display: inline;
}
.section-1 ul li{
    display: inline;
}
.section-1 .contact{
    color: #bf9467;
    padding-left: 50px;
    font-weight:bold ;
}
.section-1 .contact-detail{
    color: white;
}
.section-1 .play-slayt{
    color: white;
    display: inline;
    float: right;
}
.section-1 .play-slayt i{
   padding: 10px;
   margin: 10px;
   border: 1px solid white;   
}
.section-1 .play-slayt i:hover{    
    border: 1px solid #bf9467; 
    cursor: pointer;  
 }

 @media(max-width: 767px) {
    .section-1 ul{
    display: block;
    }
    .section-1 ul li{
        display: block;
        text-align: center;
        margin-top: 10px;
    }
    .section-1 .contact{       
        padding-left: 0px;       
    }
    .section-1 .play-slayt{       
        display: block;
        float: none;
        text-align: center;
        margin-top: 20px;
    }
  }

  .section-2{    
    position: relative;
    min-height: 400px;
    z-index: 1;
  }
  .section-2-bg{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/assets/images/section-2-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: -1;
  }

  .section-2 .content{
    position: relative;
    z-index: 3;
    padding: 50px 0px;
  }
  .section-2 .specific-header{
    position: absolute;
    bottom: -40px;
    right: 20px;
    line-height: 78px;
    color: #f2f2f2;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 0 0 10px #000;
    font-family: "Rubik", sans-serif;
  }
  .section-2 .about-us{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
  }
  .section-2 h2{
    margin-top: 50px;
    margin-bottom: 25px;
    font-family: "EB Garamond", serif;
  }
  .section-2 hr{
    width: 75px;    
    border: none; /* Varsayılan kenarlığı kaldırıyoruz */
    border-top: 5px solid #bf9467;
  }
  

  .section-3{    
    position: relative;
    min-height: 400px;   
    z-index: 1;
  }
  .section-3::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/assets/images/section-3-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
  }
  .section-3 .content{
    position: relative;
    z-index: 3;
    padding: 50px 0px;
    font-weight: bold;
  }
  .section-3 .content h1{
    font-family: "EB Garamond", serif;
  }
  .section-3 {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ededed;
}
  
     
.custom-box {
  background: rgba(255, 255, 255, 0.5); /* Şeffaf beyaz arka plan */
  border-radius: 15px; /* Kutuyu yumuşatma */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Hafif gölge efekti */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-box:hover {
  transform: translateY(-5px); /* Hover sırasında hafif yükselme efekti */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.icon-container {
  text-align: center;
  font-size: 40px;
  color: #0d6efd; /* Mavi tonunda ikon rengi */
  margin-bottom: 10px;
}

.box-header {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.custom-list {
  list-style: none; /* Liste işaretlerini kaldırma */
  padding: 0;
  margin: 0;
}

.custom-list li {
  margin-bottom: 10px;
}

.custom-list li a {
  text-decoration: none;
  font-size: 16px;
  color: #555;
  transition: color 0.3s ease;
}

.custom-list li a:hover {
  color: #0d6efd; /* Hover sırasında renk değişimi */
}

.text-content {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
  text-align: justify;
  min-height: 100px;
  
}

/* Responsive Tasarım */
@media (max-width: 768px) {
  .custom-box {
      padding: 15px;
  }

  .icon-container {
      font-size: 35px;
  }

  .box-header {
      font-size: 20px;
  }

  .custom-list li a {
      font-size: 14px;
  }

  .text-content {
      font-size: 13px;
  }
}

.section-4  h1{
font-family: "EB Garamond", serif;
}