<app-navbar></app-navbar>
  

<div class="slider-container">
    <img *ngFor="let image of backgrounds; let i = index" 
         [src]="image" 
         [class.active]="i === currentIndex" 
         [class.hidden]="i !== currentIndex" 
         alt="Slider image" class="bg-image">
    <div class="overlay"></div>

    <div class="content">
     <div class="container">
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-8">
                <div class="header">
                    <h1>{{headers[currentIndex]}}</h1>
                    <p>{{descriptions[currentIndex]}}</p>
                </div>
            </div>
           
            <div class="col-sm-2 text-center">
                <img src="/assets/images/logo-icon.png" alt="logo-icon" class="logo-icon">
              </div>
          </div>
     </div>
    </div>
</div>



<div class="section section-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li><span class="contact">İLETİŞİM : </span> <span class="contact-detail">+90 505 886 22 99 </span> </li>
                    <li><span class="contact">E-Mail : </span> <span class="contact-detail">info uscalegal.av.tr </span>    </li>
                </ul>
                
              
                <div class="play-slayt">
                  
                    <i id="prev-btn" class="bi bi-arrow-left" (click)="showPrevSlide()"></i>
                    <i id="next-btn" class="bi bi-arrow-right" (click)="showNextSlide()"></i>
                   
                </div>           
            </div>
           
            
        </div>
    </div>
</div>
  

<div class="section-2">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div style="position: relative;">
                        <img src="/assets/images/section-2-bg-2.jpg" alt="About Us Image" class="img-fluid rounded">
                        <h1 class="specific-header">KURUMSAL</h1>
                    </div>
               
                </div>
                <div class="col-md-5 about-us">
                <h2>HAKKIMIZDA</h2>
                <hr>
                <p class="lead mt-2 mb-5">Yenilikçi ve Pratik Çözümler</p>
                <p class="mt-5 mb-5">
                    USCA LEGAL Hukuk ve Danışmanlık, müvekkillerine geniş yelpazede yenilikçi ve pratik çözümler sunmak için Av. Kemal Selim USCA tarafından İstanbul'da kurulmuştur. 
Kuruluşundan bu yana, bireysel ve kurumsal müvekkillerine en yüksek standartlarda hukuki destek sağlama misyonuna devam etmektedir.

                </p>
                <div class="text-center">
                    <a routerLink="/hakkimizda" class="custom-button">Daha Fazla Bilgi</a>
                    </div>
                </div>
        </div>
    </div>
    <div class="section-2-bg"></div>
</div>
  

<div class="section section-3">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>HİZMETLERİMİZ</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="box">
                        <p class="icon-container">
                            <i class="bi bi-people"></i>
                        </p>
                        <h3 class="box-header">AİLE HUKUKU & DANIŞMANLIK</h3>
                        <p class="text-content">Boşanma, velayet ve miras gibi konularda uzman desteği sunuyoruz. Aile ilişkilerinizi gözeterek, çözüme odaklı yaklaşımlarımızla hukuki süreçlerde yanınızdayız.</p>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6">
                    <div class="box">
                        <p class="icon-container">
                            <i class="bi bi-book"></i>
                        </p>
                        <h3 class="box-header">CEZA DAVALARI</h3>
                        <p class="text-content">Hakkınızda yürütülen ceza davalarında adil bir savunma için buradayız. Deneyimli avukatlarımızla, haklarınızı savunarak adaleti sağlamaya katkıda bulunuyoruz.</p>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6">
                    <div class="box">
                        <p class="icon-container">
                            <i class="bi bi-briefcase"></i>
                        </p>
                        <h3 class="box-header">İŞ VE ÇALIŞMA HUKUKU</h3>
                        <p class="text-content">İşveren veya çalışan olarak karşılaştığınız tüm hukuki sorunlarda yanınızdayız. İş ilişkilerinin sağlam temellerde devam etmesi ve haklarınızın korunması için rehberlik sağlıyoruz.</p>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6">
                    <div class="box">
                        <p class="icon-container">
                            <i class="bi bi-house-door"></i>
                        </p>
                        <h3 class="box-header">EMLAK VE GAYRİMENKUL HUKUKU</h3>
                        <p class="text-content">Ev sahipleri ve kiracılar arasındaki anlaşmazlıklar ve sözleşme süreçlerinde size yol gösteriyoruz. Gayrimenkul işlemlerinizin sorunsuz ilerlemesi için hukuki destek sağlıyoruz.</p>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6">
                    <div class="box">
                        <p class="icon-container">
                            <i class="bi bi-shield-check"></i> 
                        </p>
                        <h3 class="box-header">VERİ GÜVENLİĞİ & KVKK</h3>
                        <p class="text-content">Kişisel verilerinizin korunması ve yasal düzenlemelere uyum sağlanması için uzman ekibimizle yanınızdayız. Veri gizliliğinizi koruma konusunda profesyonel çözümler sunuyoruz.</p>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6">
                    <div class="box">
                        <p class="icon-container">
                            <i class="bi bi-building"></i>
                        </p>
                        <h3 class="box-header">MİRAS HAKLARI & HUKUKİ SÜREÇLER</h3>
                        <p class="text-content">Mirasın doğru ve adil bir şekilde paylaştırılması konusunda uzman rehberlik sunuyoruz. Miras sürecini yönetiyor ve haklarınızın korunması için hukuki destek sağlıyoruz.</p>
                    </div>
                </div>
                
            </div>
           
        </div>
    </div>
</div>

<div class="section section-4">
    <div class="container">
        <h1>USCA LEGAL YOL TARİFİ</h1>
    </div>
    <div class="mt-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3015.1152216429205!2d29.15860366821289!3d40.9132194519043!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac40c719196f3%3A0xadef37dbdb5e04f1!2sCevizli%2C%20Saraylar%20Cd.%20No%3A6%2C%2034846%20Maltepe%2F%C4%B0stanbul!5e0!3m2!1sen!2str!4v1728333847651!5m2!1sen!2str" width="100%" height="450" style="border:0;"  loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

<app-footer></app-footer>