<app-navbar></app-navbar>

<div class="slider-container">
  <img
    *ngFor="let image of backgrounds; let i = index"
    [src]="image"
    [class.active]="i === currentIndex"
    [class.hidden]="i !== currentIndex"
    alt="Slider image"
    class="bg-image"
  />
  <div class="overlay"></div>

  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
          <div class="header">
            <h1>{{ headers[currentIndex] }}</h1>
            <p>{{ descriptions[currentIndex] }}</p>
          </div>
        </div>

        <div class="col-sm-2 text-center">
          <img
            src="/assets/images/logo-icon.png"
            alt="logo-icon"
            class="logo-icon"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section section-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>
            <span class="contact">İLETİŞİM : </span>
            <span class="contact-detail">+90 505 886 22 99 </span>
          </li>
          <li>
            <span class="contact">E-Mail : </span>
            <span class="contact-detail">info uscalegal.av.tr </span>
          </li>
        </ul>

        <div class="play-slayt">
          <i
            id="prev-btn"
            class="bi bi-arrow-left"
            (click)="showPrevSlide()"
          ></i>
          <i
            id="next-btn"
            class="bi bi-arrow-right"
            (click)="showNextSlide()"
          ></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-2">
  <div class="content">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-3">
          <div style="position: relative">
            <!-- <img src="/assets/images/section-2-bg-2.jpg" alt="About Us Image" class="img-fluid rounded"> -->
            <!-- <h1 class="specific-header">KURUMSAL</h1> -->
            <img
              src="/assets/images/kemal-selim/2.jpg"
              class="img-fluid rounded shadow about-us-img"
            />
          </div>
        </div>
        <div class="col-md-8 about-us">
          <h2>HAKKIMIZDA</h2>
          <hr />
          <p class="lead mt-2 mb-5">Yenilikçi ve Pratik Çözümler</p>
          <p class="mt-5 mb-5">
            USCA LEGAL Hukuk ve Danışmanlık, müvekkillerine geniş yelpazede
            yenilikçi ve pratik çözümler sunmak için Av. Kemal Selim USCA
            tarafından İstanbul'da kurulmuştur. Kuruluşundan bu yana, bireysel
            ve kurumsal müvekkillerine en yüksek standartlarda hukuki destek
            sağlama misyonuna devam etmektedir.
          </p>
          <div class="text-center">
            <a routerLink="/hakkimizda" class="custom-button"
              >Daha Fazla Bilgi</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="section-2-bg"></div>
  </div>

  <div class="section section-3">
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>HİZMETLERİMİZ</h1>
          </div>
        </div>

        <div class="row mt-4 justify-content-center">
          <div class="col-lg-4 col-md-6 mt-3">
            <div class="custom-box">
              <p class="icon-container">
                <i class="bi bi-people"></i>
              </p>
              <h3 class="box-header">İcra ve İflas Hukuku</h3>
              <ul class="custom-list">
                <li>
                  <a routerLink="/hizmetlerimiz/icra-takibi-davalari-1"
                    >İcra Takibi Davaları</a
                  >
                </li>
                <li>
                  <a routerLink="/hizmetlerimiz/konkordato-davalari-2"
                    >Konkordato Davaları</a
                  >
                </li>
                <li>
                  <a routerLink="/hizmetlerimiz/iflas-davalari-3"
                    >İflas Davaları</a
                  >
                </li>
                <li>
                  <a routerLink="/hizmetlerimiz/haciz-ve-rehin-uygulamalari-4"
                    >Haciz ve Rehin Uygulamaları</a
                  >
                </li>
                <li>
                  <a routerLink="/hizmetlerimiz/borc-yapilandirma-davalari-5"
                    >Borç Yapılandırma Davaları</a
                  >
                </li>
              </ul>
              <p class="text-content">
                İcra ve iflas süreçlerinde etkili ve şeffaf çözümler sunuyoruz.
                Profesyonel desteğimizle haklarınızı korumak için yanınızdayız.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-3">
            <div class="custom-box">
              <p class="icon-container">
                <i class="bi bi-briefcase"></i>
              </p>
              <h3 class="box-header">Ticaret Hukuku</h3>
              <ul class="custom-list">
                <li>
                  <a routerLink="/hizmetlerimiz/birlesme-ve-devralma-davalari-6"
                    >Birleşme ve Devralma Davaları</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/hizmetlerimiz/sirket-kurulusu-ve-yapilandirma-davalari-7"
                    >Şirket Kuruluşu ve Yapılandırma Davaları</a
                  >
                </li>
                <li>
                  <a routerLink="/hizmetlerimiz/ticari-sozlesme-davalari-8"
                    >Ticari Sözleşme Davaları</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/hizmetlerimiz/ticari-uyusmazlik-ve-ihtilaf-davalari-9"
                    >Ticari Uyuşmazlık ve İhtilaf Davaları</a
                  >
                </li>
                <li>
                  <a routerLink="/hizmetlerimiz/haksiz-rekabet-davalari-10"
                    >Haksız Rekabet Davaları</a
                  >
                </li>
              </ul>
              <p class="text-content">
                Ticari anlaşmazlıklar ve şirket yapılandırma süreçlerinde uzman
                desteğimizle yanınızdayız. İş dünyasında başarı için etkili
                hukuki çözümler sunuyoruz.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-3">
            <div class="custom-box">
              <p class="icon-container">
                <i class="bi bi-file-text"></i>
              </p>
              <h3 class="box-header">Borçlar Hukuku</h3>
              <ul class="custom-list">
                <li>
                  <a routerLink="/hizmetlerimiz/sozlesme-ihlali-davalari-11"
                    >Sözleşme İhlali Davaları</a
                  >
                </li>
                <li>
                  <a routerLink="/hizmetlerimiz/alacak-davalari-12"
                    >Alacak Davaları</a
                  >
                </li>
                <li>
                  <a routerLink="/hizmetlerimiz/tazminat-davalari-13"
                    >Tazminat Davaları</a
                  >
                </li>
                <li>
                  <a routerLink="/hizmetlerimiz/kira-sozlesmesi-davalari-14"
                    >Kira Sözleşmesi Davaları</a
                  >
                </li>
                <li>
                  <a routerLink="/hizmetlerimiz/sozlesmenin-feshi-davalari-15"
                    >Sözleşmenin Feshi Davaları</a
                  >
                </li>
              </ul>
              <p class="text-content">
                Borç ilişkilerinde doğan uyuşmazlıklarda etkili ve sonuç odaklı
                hukuki destek sağlıyoruz. Sözleşme ihlalleri ve tazminat
                süreçlerinde yanınızdayız.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-3">
            <div class="custom-box">
              <p class="icon-container">
                <i class="bi bi-house-heart"></i>
              </p>
              <h3 class="box-header">Aile Hukuku</h3>
              <ul class="custom-list">
                <li>
                  <a routerLink="/hizmetlerimiz/bosanma-davalari-16"
                    >Boşanma Davaları</a
                  >
                </li>
                <li>
                  <a routerLink="/hizmetlerimiz/velayet-davalari-17"
                    >Velayet Davaları</a
                  >
                </li>
                <li>
                  <a routerLink="/hizmetlerimiz/nafaka-davalari-18"
                    >Nafaka Davaları</a
                  >
                </li>
                <li>
                  <a routerLink="/hizmetlerimiz/mal-paylasimi-davalari-19"
                    >Mal Paylaşımı Davaları</a
                  >
                </li>
                <li>
                  <a routerLink="/hizmetlerimiz/aile-ici-siddet-davalari-20"
                    >Aile İçi Şiddet Davaları</a
                  >
                </li>
              </ul>
              <p class="text-content">
                Aile bireylerinin haklarını gözeten çözümlerle boşanma, velayet,
                nafaka ve mal paylaşımı gibi süreçlerde yanınızdayız. Adil ve
                hızlı sonuçlar için profesyonel destek sunuyoruz.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-3">
            <div class="custom-box">
              <p class="icon-container">
                <i class="bi bi-shield-lock"></i>
              </p>
              <h3 class="box-header">Ceza Hukuku</h3>
              <ul class="custom-list">
                <li>
                  <a
                    routerLink="/hizmetlerimiz/suc-isnadi-ve-savunma-davalari-21"
                    >Suç Isnadi ve Savunma Davaları</a
                  >
                </li>
                <li>
                  <a routerLink="/hizmetlerimiz/adli-kontrol-davalari-22"
                    >Adli Kontrol Davaları</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/hizmetlerimiz/ceza-itiraz-ve-temyiz-davalari-23"
                    >Ceza İtiraz ve Temyiz Davaları</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/hizmetlerimiz/tutuklama-ve-tahliye-davalari-24"
                    >Tutuklama ve Tahliye Davaları</a
                  >
                </li>
                <li>
                  <a routerLink="/hizmetlerimiz/agir-ceza-davalari-25"
                    >Ağır Ceza Davaları</a
                  >
                </li>
              </ul>
              <p class="text-content">
                Ceza hukukunda uzman ekibimiz, suç isnadı, savunma, tutuklama ve
                ağır ceza davalarında haklarınızı koruyarak etkili çözümler
                sunar. Adalet için yanınızdayız.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-3">
            <div class="custom-box">
              <p class="icon-container">
                <i class="bi bi-house-door"></i>
              </p>
              <h3 class="box-header">Gayrimenkul Hukuku</h3>
              <ul class="custom-list">
                <li>
                  <a
                    routerLink="/hizmetlerimiz/tapu-iptali-ve-tescil-davalari-26"
                    >Tapu İptali ve Tescil Davaları</a
                  >
                </li>
                <li>
                  <a routerLink="/hizmetlerimiz/kira-hukuku-davalari-27"
                    >Kira Hukuku Davaları</a
                  >
                </li>
                <li>
                  <a routerLink="/hizmetlerimiz/ecrimisil-davalari-28"
                    >Ecrimisil Davaları</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/hizmetlerimiz/el-atmanin-onlenmesi-davalari-29"
                    >El Atmanın Önlenmesi Davaları</a
                  >
                </li>
                <li>
                  <a routerLink="/hizmetlerimiz/kat-mulkiyeti-davalari-30"
                    >Kat Mülkiyeti Davaları</a
                  >
                </li>
              </ul>
              <p class="text-content">
                Gayrimenkul hukuku alanında tapu işlemleri, kira sözleşmeleri,
                ecrimisil gibi konularda hukuki destek sunuyoruz. Mülkiyet
                haklarınızı koruyarak adil çözüm yolları üretiyoruz.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-3">
            <div class="custom-box">
              <p class="icon-container">
                <i class="bi bi-heart"></i>
              </p>
              <h3 class="box-header">Miras Hukuku</h3>
              <ul class="custom-list">
                <li>
                  <a routerLink="/hizmetlerimiz/tenkis-davalari-31"
                    >Tenkis Davaları</a
                  >
                </li>
                <li>
                  <a routerLink="/hizmetlerimiz/mirasin-reddi-davalari-32"
                    >Mirasın Reddi Davaları</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/hizmetlerimiz/vasiyetnamenin-iptali-davalari-33"
                    >Vasiyetnamenin İptali Davaları</a
                  >
                </li>
                <li>
                  <a routerLink="/hizmetlerimiz/miras-taksim-davalari-34"
                    >Miras Taksim Davaları</a
                  >
                </li>
                <li>
                  <a routerLink="/hizmetlerimiz/istihkak-davalari-35"
                    >İstihkak Davaları</a
                  >
                </li>
              </ul>
              <p class="text-content">
                Miras hukuku konusunda uzman kadromuzla, miras paylaşımı,
                vasiyetname düzenlemeleri ve mirasın reddi gibi hukuki
                işlemlerde size rehberlik ediyoruz.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-3">
            <div class="custom-box">
              <p class="icon-container">
                <i class="bi bi-briefcase"></i>
              </p>
              <h3 class="box-header">İdare Hukuku</h3>
              <ul class="custom-list">
                <li>
                  <a routerLink="/hizmetlerimiz/iptal-davalari-36"
                    >İptal Davaları</a
                  >
                </li>
                <li>
                  <a routerLink="/hizmetlerimiz/tam-yargi-davalari-37"
                    >Tam Yargı Davaları</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/hizmetlerimiz/idari-para-cezalari-itiraz-davalari-38"
                    >İdari Para Cezalarına İtiraz Davaları</a
                  >
                </li>
                <li>
                  <a routerLink="/hizmetlerimiz/kamu-gorevinden-men-davalari-39"
                    >Kamu Görevinden Men Davaları</a
                  >
                </li>
                <li>
                  <a routerLink="/hizmetlerimiz/kamu-ihale-iptali-davalari-40"
                    >Kamu İhale İptali Davaları</a
                  >
                </li>
              </ul>
              <p class="text-content">
                İdare hukuku alanında, kamu kurumlarına karşı açılacak davalarda
                uzman desteği sağlıyoruz. Kamu görevlileriyle ilgili işlemler ve
                idari para cezalarına karşı savunma yapıyoruz.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-3">
            <div class="custom-box">
              <p class="icon-container">
                <i class="bi bi-cart-check"></i>
              </p>
              <h3 class="box-header">Tüketici Hukuku</h3>
              <ul class="custom-list">
                <li>
                  <a
                    routerLink="/hizmetlerimiz/ayipli-mal-ve-hizmet-davalari-41"
                    >Ayıplı Mal ve Hizmet Davaları</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/hizmetlerimiz/tuketici-sozlesme-ihlali-davalari-42"
                    >Tüketici Sözleşme İhlali Davaları</a
                  >
                </li>
                <li>
                  <a routerLink="/hizmetlerimiz/tazminat-davalari-43"
                    >Tazminat Davaları</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/hizmetlerimiz/tuketici-hakem-heyeti-kararlari-itiraz-davalari-44"
                    >Tüketici Hakem Heyeti Kararlarına İtiraz Davaları</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/hizmetlerimiz/tuketici-kredi-sozlesmeleri-davalari-45"
                    >Tüketici Kredi Sözleşmeleri Davaları</a
                  >
                </li>
              </ul>
              <p class="text-content">
                Tüketicilerin haklarını savunmak için ayıplı mal ve hizmet,
                sözleşme ihlali, tazminat ve kredi sözleşmeleri gibi davalarda
                profesyonel yardım sunuyoruz.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-3">
            <div class="custom-box">
              <p class="icon-container">
                <i class="bi bi-person-lines-fill"></i>
              </p>
              <h3 class="box-header">Vatandaşlık ve Göçmen Hukuku</h3>
              <ul class="custom-list">
                <li>
                  <a routerLink="/hizmetlerimiz/vatandaslik-basvuru-davalari-46"
                    >Vatandaşlık Başvuru Davaları</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/hizmetlerimiz/oturma-ve-calisma-izni-davalari-47"
                    >Oturma ve Çalışma İzni Davaları</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/hizmetlerimiz/sinir-disi-kararlarina-itiraz-davalari-48"
                    >Sınır Dışı Kararlarına İtiraz Davaları</a
                  >
                </li>
                <li>
                  <a routerLink="/hizmetlerimiz/gocmenlik-haklari-davalari-49"
                    >Göçmenlik Hakları Davaları</a
                  >
                </li>
                <li>
                  <a routerLink="/hizmetlerimiz/vatandaslik-iptali-davalari-50"
                    >Vatandaşlık İptali Davaları</a
                  >
                </li>
              </ul>
              <p class="text-content">
                Göçmenlik hakları, vatandaşlık başvurusu, oturma ve çalışma izni
                gibi konularda hukuki destek sunuyoruz. Sınır dışı edilme ve
                vatandaşlık iptali gibi önemli süreçlerde profesyonel yardım
                sağlıyoruz.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-3">
            <div class="custom-box">
              <p class="icon-container">
                <i class="bi bi-gear-fill"></i>
              </p>
              <h3 class="box-header">Fikri ve Sınai Mülkiyet Hukuku</h3>
              <ul class="custom-list">
                <li>
                  <a routerLink="/hizmetlerimiz/marka-davalari-51"
                    >Marka Davaları</a
                  >
                </li>
                <li>
                  <a routerLink="/hizmetlerimiz/patent-davalari-52"
                    >Patent Davaları</a
                  >
                </li>
                <li>
                  <a routerLink="/hizmetlerimiz/telif-hakki-ihlali-davalari-53"
                    >Telif Hakkı İhlali Davaları</a
                  >
                </li>
                <li>
                  <a routerLink="/hizmetlerimiz/industrisel-tasarim-davalari-54"
                    >Endüstriyel Tasarım Davaları</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/hizmetlerimiz/fikri-mulkiyet-haklari-ihtilaflari-55"
                    >Fikri Mülkiyet Hakları İhtilafları</a
                  >
                </li>
              </ul>
              <p class="text-content">
                Fikri ve sınai mülkiyet haklarınızın korunması, patent, marka,
                telif hakkı gibi konularda hukuki destek sunuyoruz. Endüstriyel
                tasarım ve fikri mülkiyet ihtilaflarında uzman avukatlarımızla
                yanınızdayız.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-contact-form></app-contact-form>

  <div class="section section-4">
    <div class="container">
      <h1>USCA LEGAL YOL TARİFİ</h1>
    </div>
    <div class="mt-5">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3015.199595766788!2d29.17999839782715!3d40.91136932373047!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac51ab7692769%3A0xada0f879264befde!2sASER%20LEGAL!5e0!3m2!1sen!2str!4v1759395483680!5m2!1sen!2str"
        height="450"
        width="100%"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>

  <app-footer></app-footer>
</div>
