<footer>
    <div class="container">
        <div class="row py-4">
            <div class="col-md-4 text">
                <p>
                    <img src="../assets/images/logo.png" alt="Logo">
                </p>
                <p style="padding-top: 0;">
                    Hukuki meselelerde güvenilir ve profesyonel desteğe ihtiyaç duyduğunuz her an yanınızdayız. Alanında uzman avukatlarımız, sizin için en uygun çözümleri sunarak haklarınızı savunmaya ve süreçleri en doğru şekilde yönetmenize yardımcı olmaya hazır. Sormak istedikleriniz veya danışmak istediğiniz konular için bizimle hemen iletişime geçebilirsiniz
                </p>

            </div>

            <div class="col-md-4">
                <h4>İLETİŞİM</h4>
                <hr>
                <div class="footer-content">
                    <ul>
                        <li><i class="bi bi-telephone"></i> +90 505 886 22 99 </li>
                        <li><i class="bi bi-envelope"></i> info&#64;uscalegal.av.tr</li>
                        <li><i class="bi bi-geo-alt"></i>
                            Cevizli Mahallesi Saraylar Caddesi No: 6 Dap Vazo Kule C Blok Kat:11 D:81 Maltepe/İstanbul
                        </li>

                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <h4 class="work-hours-header">ÇALIŞMA SAATLERİ</h4>
                <hr>
                <ul>
                    <li>Pazartesi : 08:30 - 19:30</li>
                    <li>Salı : 08:30 - 19:30</li>
                    <li>Çarşamba : 08:30 - 19:30</li>
                    <li>Perşembe : 08:30 - 19:30</li>
                    <li>Cuma : 08:30 - 19:30</li>
                    <li>Cumartesi : 10:00 - 15:00</li>
                    <li> Pazar : <span class="text-danger">Kapalı</span> </li>
                </ul>
            </div>

        </div>

    </div>
</footer>